/* Core Image Block */
.wp-block-image {
    line-height: 1;
    
    figcaption {
        font-size: 16px;
        font-size: 1.6rem;
        margin: 1rem 0;
    }
    
    &.alignfull {
        figcaption {
            margin: 1rem 2rem;
        }
    }
}


/* Core Columns Block */
.wide {
    .entry-content {
        .wp-block-column {
            @media (min-width: 782px) {
                &:not(:first-child) {
                    margin-left: 64px;
                }
            }
        }
    }
}

.wp-block-columns {
    margin-bottom: 2rem;
}

/* Core Latest Posts Block */
.wp-block-latest-posts {
    margin: 0;
    padding: 0;
    
    
    
    li {
        border-top: 1px solid #f0f1f2;
        padding: 30px 0 35px;
        padding: 3rem 0 3.5rem;
        
        &:first-child {
            border-top: none;
        }
        
        a:first-child {
            font-size: 30px;
        }
        
        time {
            color: $color__text-main;
            font-family: $font__heavy;
            font-size: 1.2rem;
            letter-spacing: .08em;
            margin: 6px 0 20px;
            text-transform: uppercase;
        }
        
        .wp-block-latest-posts__post-excerpt {
            margin: 0;
        }
    }
}