/* Core Image Block */
.wp-block-image {
    line-height: 1;
    
    figcaption {
        font-size: 16px;
        font-size: 1.6rem;
        margin: 1rem 0;
    }
    
    &.alignfull {
        figcaption {
            margin: 1rem 2rem;
        }
    }
}


/* Core Columns Block */
.wide {
    .entry-content {
        .wp-block-column {
            @media (min-width: 782px) {
                &:not(:first-child) {
                    margin-left: 64px;
                }
            }
        }
    }
}

.wp-block-columns {
    margin-bottom: 2rem;
}

/* Core Latest Posts Block */
.wp-block-latest-posts {
    margin: 0 0 2rem;
    padding: 0;
    
    li {
        border-top: 1px solid #f0f1f2;
        padding: 30px 0 35px;
        padding: 3rem 0 3.5rem;
        
        &:first-child {
            border-top: none;
        }
        
        a:first-child {
            font-size: 30px;
            font-size: 3rem;
            
            &.more-link {
                font-size: 20px;
                font-size: 2rem;
            }
        }
        
        time {
            color: $color__text-main;
            font-family: $font__heavy;
            font-size: 1.2rem;
            letter-spacing: .08em;
            margin: 6px 0 20px;
            text-transform: uppercase;
        }
        
        .wp-block-latest-posts__post-excerpt {
            margin: 0;
        }
    }
}

/* Cover block */
.wp-block-cover-image,
.wp-block-cover {
    &.home-bio {
        margin-top: 0;
        margin-bottom: 10rem;
        padding: 12rem 0 10rem;
        
        @media screen and ( max-width: $breakpoint__tablet ) {
            margin-bottom: 6rem;
            padding: 6rem 0;
        }
        
        h1 {
            font-size: 3em;
            margin: 0 0 1rem;
            
            @media screen and ( max-width: $breakpoint__tablet ) {
                font-size: 2.5em;
            }
        }
        
        .wp-block-cover__inner-container {
            max-width: 980px;
            width: calc(100% - 70px);
            z-index: 1;
            
            @media screen and ( max-width: $breakpoint__tablet ) {
                width: 100%;
                padding-right: 5%;
                padding-left: 5%;
            }
        }
        
        .wp-block-columns {
            .wp-block-column {
                &:first-child {
                    padding-right: 4rem;
                    
                    @media screen and ( max-width: $breakpoint__tablet ) {
                        padding-right: 0;
                    }
                }
            }
        }
        
        .wp-block-image {
            @media screen and ( max-width: $breakpoint__mobile ) {
                max-width: 75%;
                margin: 6rem auto 1em;
            }
        }
    } 
}


/* Group Block */
.wp-block-group {
    &.home-feature {
        .wp-block-group__inner-container {
            max-width: 736px;
            margin: 10rem auto 0;
            padding: 10rem 0 6rem;
        }
        
        .title-heading {
            font-size: 1.6rem;
            letter-spacing: .08em;
            text-transform: uppercase;
            font-family: "AvenirLTStd-Heavy", sans-serif;
            margin-bottom: 0;
        }
        
        h2 {
            font-size: 50px;
            margin: 1.5rem 0 3rem;
        }
        
        .featured-project {
            padding: 0 4rem;
            
            h3 {
                font-size: 3.5rem;
                margin: 0 0 1.5rem;
            }
            
            .sub-heading {
                display: inline-block;
                background: #d7e8dc;
                border-radius: 4px;
                color: #648a7c;
                font-family: "AvenirLTStd-Heavy", sans-serif;
                font-size: 1.2rem;
                letter-spacing: .08em;
                padding: .6rem 1rem .2rem;
                text-transform: uppercase;
                margin-bottom: 1.5rem;
            }
        }
    }
}
