/* Core Image Block */
.wp-block-image {
    line-height: 1;
    
    figcaption {
        font-size: 16px;
        font-size: 1.6rem;
        margin: 1rem 0;
    }
    
    &.alignfull {
        figcaption {
            margin: 1rem 2rem;
        }
    }
}


/* Core Columns Block */

.wide {
    .entry-content {
        .wp-block-column {
            @media (min-width: 782px) {
                &:not(:first-child) {
                    margin-left: 64px;
                }
            }
        }
    }
}

.wp-block-columns {
    margin-bottom: 2rem;
}

