.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

.has-post-thumbnail {
	.page-content,
	.entry-content,
	.entry-summary {
		margin: 6rem 0 0;
	}
}

.page-content,
.entry-content,
.entry-summary {
	margin: 8rem 0 0;
	
	@media screen and ( max-width: $breakpoint__tablet ) {
		margin: 4rem 0 0;
	}
}

.home {
	.entry-content {
		margin-top: 0;
	}
}

.archive,
.blog,
.search {
	.site-main {
		margin-top: 8rem;
		
		@media screen and ( max-width: $breakpoint__tablet ) {
			margin-top: 4rem;
		}
		
		article {
			margin-bottom: 6rem;
		}
		
		.page-content,
		.entry-content,
		.entry-summary {
			margin: 1.8rem 0 0;
			
			@media screen and ( max-width: $breakpoint__tablet ) {
				margin: 1.8rem 0 0;
			}
		}
		
		.entry-header {
			display: flex;
			justify-content: space-between;
			
			h2 {
				margin: 0;
				font-size: 3.5rem;
			}
			
			.post-type {
				display: inline-block;
				background: #f0f1f2;
				border-radius: $border__radius;
				color: #8c8c8c;
				font-family: $font__heavy;
				font-size: 1.2rem;
				height: 100%;
				letter-spacing: .08em;
				margin-top: 10px;
				padding: .6rem 1rem .2rem;
				text-transform: uppercase;
				
				&.post {
					background: #d7e8dc;
					color: #648a7c;
				}
				&.page {
					background: #d6e8fb;
					color: #5b87b7;
				}
				
				.critical-support {
					background: #fbdcd4;
					color: #bf6969;
				}
				.premium {
					background: #dbc7ec;
					color: #8960b5;
				}
			}
		}
		
		.entry-footer {
			font-size: 1.2rem;
			margin-top: 0;
			padding-top: 2rem;
		}
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.site-main .filter-by-tags,
.site-main .hentry,  
.site-main .comments-area {
	margin-right: auto;
	margin-left: auto;
	max-width: 736px;
}

.wide {
	.site-main .filter-by-tags,
	.site-main .hentry,  
	.site-main .comments-area {
		max-width: 928px;
	}
}

.hentry {
	.post-thumbnail {
		line-height: 0;
		margin-top: -2em;
		
		img {
			border-radius: $border__radius;
		}
	}
}

.entry-content {
	
	/* Custom into text styles */
	.intro {
		font-size: 2.6rem;
		font-family: $font__heavy;
    	line-height: 1.5;
    	margin-bottom: 4rem;
	}
}

.entry-footer {
	border-top: 1px solid $color__borders;
	display: flex;
	font-family: $font__heavy;
	font-size: 1.4rem;
	justify-content: space-between;
	letter-spacing: .08em;
	margin-top: 3rem;
    padding-top: 3rem;
	text-transform: uppercase;
	
	.edit-link {
		a {
			border-bottom: 0;
			box-shadow: none;
			color: $color__text-main;
			text-decoration: none;

			&:after {
				content: none;
			}
			
			&:hover {
				color: $color__link-alt-hover
			}
		}
	}
}

.cat-links,
.tags-links {
	display: block;
	font-family: $font__heavy;
	letter-spacing: .08em;
    text-transform: uppercase;
	
	a {
		display: inline-block;
		background: #f0f1f2;
		border-bottom: 0;
		border-radius: $border__radius;
		box-shadow: none;
		color: #8c8c8c;
		margin: 0 10px 10px 0;
		padding: .6rem 1rem .2rem;
		text-decoration: none;

		&:after {
			content: none;
		}
		
		&:hover {
			background: $color__link-tag-hover;
			color: $color__text-main;
		}
	}
}



/* Extra Stuff */
.projects-opener {
	max-width: 736px;
	margin: 0 auto;
	border-bottom: 1px solid $color__borders;
	padding-bottom: 4rem;
}
.project {
	&.first {
		margin-top: 8rem;
		margin-bottom: 8rem;
	}
	
	&:not(.first) {
		border-top: 1px solid #f0f1f2;
		padding: 4rem 0 3rem;
	}


	h2 {
		font-size: 40px;
		font-size: 4rem;
		margin-bottom: 1rem;
    	line-height: 1.2;
		
		@media screen and ( max-width: $breakpoint__mobile ) {
			font-size: 30px;
			font-size: 3rem;
		}
	}
	
	p {
		font-size: 18px;
		font-size: 1.8rem;
	}
	
	&:not(.alignwide) {
		.wp-block-column {
			display: flex;
			flex-direction: column;
		}
		
		p {
			flex-grow: 1;
		}
		
		h2 {
			margin-top: 1rem;
			font-size: 30px;
			font-size: 3rem;
		}
	}
	
	.project-status {
		margin-bottom: 3rem;
		
		.status {
			display: inline-block;
			background: #f0f1f2;
			border-radius: $border__radius;
			color: #8c8c8c;
			font-family: $font__heavy;
			font-size: 1.2rem;
			letter-spacing: .08em;
			margin-right: 15px;
			padding: .6rem 1rem .2rem;
			text-transform: uppercase;
		}
		
		.development {
			background: #d7e8dc;
    		color: #648a7c;
		}
		.supported {
			background: #cadcef;
			color: #5d7498;
		}
		.critical-support {
			background: #fbdcd4;
			color: #bf6969;
		}
		.premium {
			background: #dbc7ec;
    		color: #8960b5;
		}
	}
	
	.project-meta {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 14px;
		font-size: 1.4rem;
	    font-family: "AvenirLTStd-Heavy", sans-serif;
	    text-transform: uppercase;
	    letter-spacing: .08em;
	    margin: 0 0 3rem;
		
		.downloads {
			line-height: 1.8;
				
			.dashicons {
				color: $color__dark-grey;
			}
		}
		
		.rating {
			color: $color__stars;
		}
	}
	
	.project-links {		
		a {
			margin-right: 2rem;
			font-size: 1.4rem;
			white-space: nowrap;
			display: inline-block;
			margin-bottom: 10px;
		}
	}
	
	@media screen and ( max-width: $breakpoint__mobile ) {
		&:not(.alignwide) {
			.wp-block-column {
				&:first-child {
					padding-bottom: 5rem;
					border-bottom: 1px solid $color__borders;
					margin-bottom: 4rem;
				}
			}
		}
	}
}

/* Filter by tags component */
.filter-by-tags {
	margin-bottom: 6rem;
	
	label {
		display: block;
		font-size: 1.6rem;
		font-family: $font__heavy;
    	letter-spacing: .08em;
		margin-bottom: 1rem;
    	text-transform: uppercase;
	}
	
	.tags-links {
		font-size: 1.4rem;
	}
}

/* 404 Page Specific */
.error-404 {
	padding: 100px 0 160px;
	padding: 10rem 0 16rem;
    text-align: center;
	
	.page-header {
		.error-code {
			font-size: 120px;
			font-size: 12rem;
    		font-family: "AvenirLTStd-Heavy", sans-serif;
		}
		.page-title {
			margin: 0;
		}
	}
	
	.page-content {
		margin: 20px 0 0;
		margin: 2rem 0 0;
		
		.search-form {
			margin-top: 60px;
			margin-top: 6rem;
		}
	}
}


/* More lInk */
.more-link {
	white-space: nowrap;
}

/* Force content to the left on mobile */
.mobile-left {
	@media screen and ( max-width: $breakpoint__mobile ) {
		text-align: left !important;
	}
}


