.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

figure {
	&.box-shadow {
    	line-height: 0;
		
		img {
			box-shadow: 0 5px 30px rgba(0, 0, 0, 0.09);
			border-radius: 4px;
			border: 6px solid #ffffff;
		}
		
		&.is-style-rounded {
			img {
				border-radius: 1000px;
				border: none;
			}
		}
	}

}

