button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.wp-block-button__link,
.button {
	border: 2px solid;
	border-color: $color__border-button;
	border-radius: $border__radius;
	background: $color__background-button;
	color: $color__text-main;
	cursor: pointer;
	font-family: $font__heavy;
	font-size: 16px;
	font-size: 1.6rem;
	letter-spacing: .08em;
	line-height: 1;
	outline: 0;
	padding: 1em 1.2em .7em;
	text-transform: uppercase;    

	&:hover {
		background: $color__background-button-hover !important;
		color: #fff !important;
		border-color: $color__border-button !important;
	}

	&:active,
	&:focus {
	}
}

.entry-content {
	.button,
	.wp-block-button__link {
		border-bottom: 2px solid $color__text-main;
		box-shadow: none;
		
		&:after {
			content: none;
		}
	}
	
	.button-alt {
		background-color: $color__text-main;
		color: #fff;
		
		&:hover {
			background-color: #fff !important;
			color: $color__text-main !important;
		}
	}
}
