button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 2px solid;
	border-color: $color__border-button;
	border-radius: $border__radius;
	background: $color__background-button;
	cursor: pointer;
	font-family: $font__heavy;
	font-size: 16px;
	font-size: 1.6rem;
	letter-spacing: .07em;
	line-height: 1;
	outline: 0;
	padding: 0.8em 1em 0.5em;
	text-transform: uppercase;

	&:hover {
		background: $color__background-button-hover;
		color: #fff;
	}

	&:active,
	&:focus {
	}
}
