$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #fff;
$color__background-button-hover: #222;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #4169e1; //royalblue

$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue

$color__link-border: #f0f1f2;
$color__link-alt-hover: #666;

$color__text-main: #222;
$color__link-main-nav: #666;
/*$color__background-main: #f0f1f2;*/
$color__background-main: #f0f1f2;

$color__link-tag-hover: #c8ccd0;

$color__border-button: #222;
$color__border-button-hover: #222;

$color__border-input: #f0f1f2;
$color__border-abbr: #666;

$color__borders: #f0f1f2;
